
/* ..................   Navabr css ..............  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: #0077c2;
    border-radius: 15px;
}

.navbar-logo img {
    width: 300px;
    height: 30px;
    
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.navbar-menu li {
    margin: 0 10px;
}

.navbar-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.navbar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #333;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background-color: #fff;
        z-index: 999;
        padding: 20px;
    }

    .navbar-menu li {
        margin: 10px 0;
    }

    .navbar-toggle {
        display: block;
    }
    #bodyfistdiv{
        flex-direction: "column";
    }
    .container{
        width: "100%";
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: "500px";
    }
}

/* ............ Drag drop css ........  */

h1{
    color: red;
    text-align: center;

}

.container{
    width: "100%";
    display: flex;
    justify-content: flex-start;
    height: "500px";
}
.container .element {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin: 5px;
}

#bodyfistdiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f5f5f5;
}
#seconddiv{
    margin: auto;
    width: 50%;
}

.dropzone {
    border: 2px dashed #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 5px #ccc;
    padding: 10px;
    margin: 10px;
    min-width: 150px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    background: yellow;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.dropzone.dragover {
    background-color: aqua;
}

.dropzone>.draggable {
    background-color: darkorange;
}

.draggable {
    background-color: #0077c2;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: move;
    box-shadow: 2px 2px 5px #ccc;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.draggable:hover {
    background-color: #005fa6;
    background-color: red;
}

.draggable.dragging {
    opacity: 0.5;
}